/*main.css*/
* {
    box-sizing: border-box;
    font-family: "open-dyslexic", sans-serif;
    font-size: 18px;
    font-size-adjust: inherit;
    margin: 0;
    background-color: rgb(181, 189, 192);
  }

html, body {
    background-color: rgb(181, 189, 192);
    font-family: "open-dyslexic", sans-serif;
    font-size: 18px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }
.navbar {
    padding-left: 25px;
}

nav a {
    color: darkblue;
    text-decoration: none;
    padding: 20px;
  }

  a:hover {
    color:darkblue;
    background-color: #fff;
  }
  
  
article {
    
    line-height: 2.0;
    text-align: justify;
    margin-left: 15px;
    padding-top: 2rem
}
.row {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    background-color: rgb(31, 31, 116);
    color: aliceblue;
}

figure {
    border: 6px solid rgb(42, 42, 129);
    width: 370px;
    margin-left: 10px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 0px;
}

